cluster.name: "{{ es_cluster_name }}"
node.name: "{{ inventory_hostname }}"
node.attr.rack: "{{ es_rack }}"
path.data: [ /data1, /data2, /data3 ]
path.logs: "{{ es_path_logs }}"
bootstrap.memory_lock: true
network.host: "{{ ansible_default_ipv4.address }}"
http.port: 9200
discovery.zen.ping.unicast.hosts: [ "ELK-01-DC1", "ELK-02-DC2" ]
discovery.zen.minimum_master_nodes: 2
gateway.recover_after_nodes: 2
gateway.recover_after_time: 15m
gateway.expected_nodes: 2
node.master: {{ es_node_master }}
node.data: {{ es_node_data }}
